@import "tailwindcss";

@theme {
  /* Teical Identity */
  --color-primary:   #061727;
  --color-primary-light: #1a2e5b;
  --color-primary-dark: #040f1a;

  --color-secondary: #63d1d0;
  --color-secondary-light: #a0e7e5;
  --color-secondary-dark: #318988;

  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-secondary hover:bg-secondary-dark text-primary px-4 py-3 rounded-full 
           font-bold transition-all duration-200 items-center justify-center w-fit;
  }
}